li {
  display: flex;
  padding: 0.2rem 2rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(78, 12, 25, 0.2);
}
li div {
  display: flex;
  width: 250px;
  align-items: center;
}
li div p {
  margin-left: 1rem;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  color: rgb(46, 192, 46);
  text-decoration: line-through;
}

.delete-icon:hover {
  color: rgb(78, 12, 25);
}
